
<!-- container for submit form with create entry for task info in database -->
<div id="container-1">
    <form action="create-tasklist" method="post">
        <div class="flex-column">
            <input type="text" name="task" placeholder="Enter your task..." required>
            <div class="flex-row">
                <select name="option" id="option" required>
                    <option value="" disabled selected>Choose a Category</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Shoping">Shoping</option>
                    <option value="Other">Other</option>
                </select>

                <input type="date" name="taskDate" id="taskDate">
            </div>
        </div>
        <div class="flex-column">

            <button type="submit">Add Task</button>

        </div>
</form>
</div>
